$iconSpritePath: image-url('glyphicons-halflings.png');
$iconWhiteSpritePath: image-url('glyphicons-halflings-white.png');

@import "compass/css3";

@import "bootstrap";

#main {
  padding-top: 50px;
}

.form-inline {
  display: inline;
}

table .form {
  display: inline-block; 
  margin: 0;
}

.accordion-group {
 border: none;
}
.accordion-heading {
  .btn {
    float: left;
    margin: 6px 15px;
  }
  .accordion-toggle {
    padding: 2px;
    &:hover {
      text-decoration: none;
    }
  } 
}

div.item-detail div:nth-child(odd) span {
  background-color: #eee;
}

span.label.tag{ 
 margin-right: 2px;
 a {
  color: white;
 }
}

blockquote.incoming-message p {
 font-size: 13px;
}